body,
html {
  margin: 0;
  height: 100%;
  font-family: 'IBM Plex Mono';
}

h1 {
  font-weight: lighter;
  font-size: 5cap;
  padding: 0%;
  margin: 0;
  color: #4f46e5;
}

h2 {
  font-family: 'Caveat', cursive;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.l-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f3f7;
}

.c-device {
  width: 20rem;
  height: 40rem;
  border-radius: 28px;
  background: #00000008;
  padding: 0.5rem;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  position: relative;
}

.c-device__screen {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  position: relative;
}

.c-lottie {
  width: 90%;
  max-width: 250px;
  margin-bottom: 20px;

  &--2 {
    max-width: 20rem;
    height: 20rem;
    margin-bottom: 2rem;
    padding: 0%;
  }
}

.c-onboarding {
  height: 100%;
}

.c-screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  transition: opacity 0.3s ease;
}

.is-hidden {
  display: none;
}

.c-text {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 16px;
}

.c-nav {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.c-btn {
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  border: none;
  background: #4f46e5;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: 'Caveat', cursive;
  font-size: 1.2rem;
  z-index: 2;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background: #4039b9;
  }

  &--start {
    background: #ee6d22;

    &:hover {
      background: #9d4816;
    }
  }
}

.c-overlay__blob {
  position: absolute;
  top: -31rem;
  left: -15rem;
  width: 600px;

  transform: rotate(-20deg);
  z-index: 0;
}

.c-blob__path {
  fill: #ee6d22;
}

.c-progress {
  display: flex;
  justify-content: center;
  gap: 8px;
  position: absolute;
  bottom: 16px;
  width: 100%;
}

.c-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #cbd5e1;
  cursor: pointer;
}

.c-bullet.is-active {
  background: #4f46e5;
}
